.content {
    // height: 50px;
}

.footer {
    padding-top: 11px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
}

.customBody {
    color: var(--adm-color-success);
}
  

.custom-cell {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &.custom-cell-selected {
        background: var(--adm-color-primary);
        color: #fff;
    }
}

.un-selected-bubble {
    :global(.adm-floating-bubble-button) {
        opacity: 0.6 !important;
    }
}